<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYInryOF5guvEvrfc2FKSux5um0MCjcFw</string>
	<key>GCM_SENDER_ID</key>
	<string>168219011291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.otpverification</string>
	<key>PROJECT_ID</key>
	<string>qb-otpverification</string>
	<key>STORAGE_BUCKET</key>
	<string>qb-otpverification.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168219011291:ios:c106ab8df365a9ce5f44fe</string>
</dict>
</plist>